[api]
port=8080
daemonized=True

[log]
file_config=tempo-logging.conf

[rabbit]
host=localhost
port=5672
use_ssl=False
userid=guest
password=guest
virtual_host=/

[db]
sql_connection=sqlite:///tempo.sqlite
sql_idle_timeout=3600

[notifier]
driver=logging
rabbit_topic=tempo_notifications
level=INFO

[worker]
publisher_id=host
daemonized=True
